# ln -sr subtree/pj/bin/.envrc; direnv allow .
# Note that this bootstrapper below does *not* lift .envrc because you may not prefer direnv.
# Typically, however, bin/bootstrap.sh will.

# Project name and folder layout
export PROJECT=$(basename $(git remote get-url origin) .git)
# bash assumed
export PROOT=$(realpath -Lm $(dirname ${BASH_SOURCE%*/}))
trap 'PATH_add $(find ${PROOT} -type d -name bin)' RETURN

# subtree are the git subtrees under PROOT. subtree/pj is assumed.
[[ -d "${PROOT}/subtree" ]] || return 0
export SUBTREE=${PROOT}/subtree

[[ -r "${SUBTREE}/pj/bin/Makefile" ]] || return 0
# Bootstrap the dev environment via a makefile
export BOOTSTRAPPER="${SUBTREE}/pj/bin/Makefile"
make --check-symlink-times --quiet --makefile="${BOOTSTRAPPER}" bootstrap check





    

   


